﻿@model WebApplication1.ViewModel.BMIData

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form method="post" action="@Url.Action("Index")">

    @Html.DisplayNameFor(m => m.Height)
    @Html.TextBoxFor(m => m.Height)公分
    @Html.ValidationMessageFor(modelItem => @Model.Height) <br />

    @Html.DisplayNameFor(m => m.Weight)
    @Html.TextBoxFor(m => m.Weight)公分
    @Html.ValidationMessageFor(modelItem => @Model.Weight) <br />

    <input type="submit" value="送出" />
</form>
<br />
計算結果： @Model.BMI <br />
等級： @Model.Level