﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<p><input type="radio" name="sex" value="2" id="u_0_8">man</p>
<p><input type="radio" name="sex" value="2" id="u_0_8">woman</p>